body {
    margin: 0;
    font-family: Arial;
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 90%);
}

#header {
    width: 100%;
    box-sizing: border-box;
    padding: 5rem;
    background-color: hsl(190, 100%, 50%);
    display: flex;
    justify-content: center;
}
#nameanim {
    font-size: 3rem;
}